.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding: 2px;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.high {
    color: red;
    border: 1px dotted black;
    text-align: center;
}

.middle {
    color: gold;
    border: 1px dotted black;
}

.low {
    color: lime;
    border: 1px dotted black;
}