.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    background-color: #bbffbb;
    width: 300px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: black;
    margin: 5px;
}

.messageBox {
    background-color: black;
    border-radius: 5px 5px 5px 0;
    padding: 10px;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0 ,rgba(0,0,0,0) 15px, black 0);

}

.name {
   font-size: 20px;
    font-weight: bold;
    color: blueviolet;
}

.messageText {
   min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: #bbffbb;

}

.time {
    display: flex;
    justify-content: flex-end;
    color: green;
}